/* Icons */
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css);

body {
  display: grid;
  place-content: center;
  height: 100vh;
  padding: 30px;
  grid-template-rows: 1fr;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure {
  margin: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  color-scheme: light dark;
}

.chat {
  border: 1px solid #e2e2e2;
  border-radius: 10px;
  overflow: hidden;
  width: 350px;
  height: 100%;
  position: relative;
}
.form {
  position: absolute;
  bottom: 0;
  display: flex;
  left: 0;
  height: 50px;
  padding: 5px;
  right: 0;
  gap: 10px;
}
.message {
  outline: none;
  border-radius: 100px;
  border: 1px solid #e2e2e2;
  background-color: #333;
  flex: 1;
  padding: 0 10px;
}
.submit-btn {
  background-color: #fff;
  border: none;
  border-radius: 100%;
  padding: 10px;
  display: flex;
  transition: all 0.4s;
  cursor: pointer;
}
.submit-btn:hover {
  background-color: #e2e2e2;
}
.send-icon {
  color: #333;
  font-size: 1.5em;
}
.ul-messages {
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-bottom: 75px;
  gap: 10px;
  height: 100%;
  overflow-y: auto;
  max-width: 100%;
}
.ul-messages::-webkit-scrollbar {
  width: 5px;
}
.ul-messages::-webkit-scrollbar-thumb {
  background-color: #999; /* Color de la barra */
  border-radius: 50px; /* Bordes redondeados */
}

.ul-messages::-webkit-scrollbar-track {
  background-color: transparent; /* Color de fondo del track */
  border-radius: 10px; /* Bordes redondeados */
}
.message-received,
.message-own {
  display: flex;
  max-width: 80%;
  min-width: 50px;
  padding: 10px 15px;
  overflow-wrap: break-word;
  word-break: break-word;
  white-space: normal;
  animation: insertMessage 0.5s;
  position: relative;
}
.message-received {
  background-color: #333;
  border-radius: 15px 15px 15px 0;
  align-self: flex-start; /* Alinea a la izquierda */
  margin-right: auto; /* Empuja el mensaje a la izquierda */
}
.message-own {
  background-color: #6fff00;
  border-radius: 15px 15px 0 15px;
  align-self: flex-end; /* Alinea a la derecha */
  margin-left: auto; /* Empuja el mensaje a la derecha */
}

@keyframes insertMessage {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.message-text {
  margin-right: 40px;
}
.real-time {
  position: absolute;
  right: 5px;
  bottom: 5px;
  font-size: 0.75em;
}

