# Ignorar el archivo .env
.env

# Ignorar la carpeta node_modules
node_modules/

# Ignorar logs
*.log

# Ignorar archivos de sistema
.DS_Store
Thumbs.db

# Ignorar archivos de configuración de IDEs
.vscode/
.idea/